BasedOnStyle: Google
Language: Cpp
Standard: c++20
IndentWidth: 2
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
